*{
    box-sizing: border-box;
}

:root{
    --primary-color: #22254d;
    --secondary-color: #373b69
}


body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header{
    padding: 1rem;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: flex-end;
}

.search{
    border: 3px solid var(--primary-color);
    padding: 0.5rem 1rem;
    background: rgba(255, 255, 255, 0.05);
    font-size: 1rem;
    color: white;
    font-family: 'inherit', sans-serif;
}

.search:focus{
    outline: 0;
    background: var(--primary-color);
}

.search::placeholder{
    color: #7378c5;
}



.movie{
    width: 300px;
    margin: 1rem;
    border-radius: 3px ;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.5);
    background: var(--secondary-color);
    position: relative;
    overflow: hidden;
}

.movie img{
    width: 100%;
}

main .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-info{
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem ;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.50rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color: lightgreen;
}
.movie-info span.orange{
    color: orange;
}
.movie-info span.red{
    color: red;
}

.overview{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFF;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(100%);
    transition: 0.5s;
}

.movie:hover .overview{
    transform: translateY(0);
}















